.password_change {
    position: relative;
    width: 30%;
    height: 40px;
    margin-top: 5%;
    margin-left: 50%;
    margin-bottom: 3%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    color: rgb(252, 252, 252);
    background-color: rgb(250, 166, 39);
    border: 1px solid rgb(0, 0, 0);
}
.password_change:hover{
    background-color: rgb(222, 139, 14);
}
.password_change:focus{
    background-color: rgb(247, 211, 9);
}